.image-section-home{
    background: url('../../img/image3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.image-section-text{
    text-align: center;
    font-size: 7em;
    padding-top: 25vh;
    color: white;
}

.left-image-section-wrapper{
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.right-image-section-wrapper{
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.food-hygiene-logo{
    height: 80px;
}

.credit-cards-logo{
    height: 60px;
}

.section-wrapper{
    padding: 50px 200px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.number-text{
    text-decoration: underline;
}

.red{
    color: red;
}

/*Small Desktop*/
@media only screen and (max-width: 1000px) {
    .section-wrapper {
        padding: 50px 100px;
    }
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    .section-wrapper{
        padding: 50px 10px;
    }

    .image-section-text{
        font-size: 6em;
    }
}

/*Mobile*/
@media only screen and (max-width: 500px) {
    .image-section-text{
        font-size: 3em;
    }

    .food-hygiene-logo{
        height: 50px;
    }

    .credit-cards-logo{
        height: 50px;
    }

    .section-wrapper{
        padding: 50px 10px;
    }

    .column{
        width: 100%;
    }
}