header{
  background-color: lightyellow;
  box-shadow: 0px 0px 20px -5px #000000;
}

.header-logo{
  height: 80px;
}

.header-logo-container{
  display: inline-block;
}

.header-buttons-container{
  display: inline-block;
  float:right;
  margin-top: 25px;
  margin-right: 20px;
}

.header-link{
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 10px;
  font-weight: bold;
}

a {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:red;}  /* mouse over link */
a:active {color:pink;}  /* selected link */

footer{
  height: 50px;
  top: 100vh;
  width: 100%;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-wrapper{
  padding: 15px 0 0 15px;
  text-align: center;
  color: white;
}

.cookie-notice-wrapper{
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
  .footer-wrapper{
    font-size: 0.9em;
  }
}

/*Mobile*/
@media only screen and (max-width: 500px) {
  .header-logo{
    height: 50px;
  }

  .header-buttons-container{
    margin-top: 20px;
  }

  .header-link{
    font-size: 1em;
    padding: 0 7px;
  }

  .footer-wrapper{
    font-size: 0.6em;
  }
}